body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: black;
}
p{
    margin: 0;
}
span{
    color: white;
}
div{
    color: white;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background: url("");
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        overflow: hidden;
        position: relative;
        z-index: 1;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35); 
    pointer-events: none; 
    z-index: -1;
}

.leftPart{
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 7vw;
    padding-top: 5vh;
    padding-bottom: 6vh;
}

.upPart{
    height: 47px;
    width: 90px;
    background: url("./public/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo{

}


.bottomPart{
    width: 600px;
    height: 200px;
    display: flex;
    gap: 20px;
}

.degree{
    font-size: 143px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin: 0;
    color: white;
}

.cityInfo{
    height: 100%;
    width: auto;
    display: flex;
}

.cityInfoL{
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.cityName{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin: 0;
    color: white;

}

.dataTime{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin: 0;
    color: white;
}

.cityInfoR{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;


}

.weatherEmoji{
    font-size: 120px;
    margin: 0;
}



.rightPart{
    background-color: rgba(0, 0, 0, 0.377); 
    backdrop-filter: blur(10px); 
    height: 100vh;
    width: 35vw;
    padding-left: 40px;
    padding-top: 5vh;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.rPartContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.infoP{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 0;
    color: white;
}

::placeholder { 
  color: white;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus {
  outline: none; 
}

.infoP2{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 0;
    color: white;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoRow1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infoRow2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infoRow3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden{
    display: none !important;
}

.search{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchInp{
    width: 320px;
    height: 28px;
    background: none;
    border: none;

    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.searchButton{
    background: none;
    border: none;
    background: url("./public/fa_search.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.line{
    width: 100%;
    height: 1px;
    background: white;
    margin-top: 5px;
}

.hide{
    display: none;
}

.forecast{
    display: flex;
    flex-direction: column;
    gap: 20px;

    div{
        display: flex;
        justify-content: space-between;

        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}












@media (max-width: 1023px) and (min-width: 600px) {

    .wrapper{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 60px;
    }
    .cityName{
        font-size: 48px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        margin: 0;
        color: white;
    }

    .leftPart {
        width: 100%;
        height: 60vh;
        padding: 5vh 5vw;
    }

    .rPartContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .cityName {
        font-size: 40px;
    }

    .degree {
        font-size: 120px;
    }

    .rightPart {
        width: 100%;
        height: auto;
        padding: 40px 5vw;
        margin-top: -40px;
        background: rgba(0,0,0,0.35);
        backdrop-filter: blur(20px);
    }

    .rPartContainer {
        margin-top: 60px; 
    }

    .search{
        width: 60%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .line{
        width: 60%;
    }
}


@media (max-width: 599px) {
    .search {
        top: 15px;     
        right: 15px;
    }
    .wrapper {
        flex-direction: column;
        height: auto;
    }

    .leftPart {
        width: 100%;
        height: 45vh;
        padding: 3vh 5vw;
        justify-content: space-between;
    }

    .rPartContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    
    .degree {
        font-size: 70px;
        line-height: 70px;
    }

    .cityName {
        font-size: 28px;
    }

    .rightPart {
        width: 100%;
        padding: 30px 6vw;
        background: rgba(0,0,0,0.4);
        backdrop-filter: blur(20px);
        margin-top: -20px;
    }

    .searchInp {
        height: 34px;
        font-size: 14px;
    }

    .infoRow1,
    .infoRow2,
    .infoRow3 {
        font-size: 15px;
        gap: 10px;
    }

    .forecast {
        font-size: 14px;
        gap: 12px;
    }
    .weatherEmoji{
        font-size: 40px;
    }
    .bottomPart{
        width: 100%;
    }

        .bottomPart{
        width: 100%;
        height: auto;
        gap: 10px;
    }

    .leftPart {
        width: 100%;
        height: 50vh;
        padding: 3vh 5vw;
        justify-content: space-between;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .weatherEmoji{
        font-size: 70px;
    }
    .cityName{
        font-size: 30px;
        width: auto;
    }
    .degree{
        font-size: 82px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .dataTime{
        font-size: 10px;
    }
    .cityInfoL{
        width: 60%;
    }

}

@media (max-width: 430px) {
    .bottomPart{
        width: 100%;
        height: auto;
        gap: 10px;
    }

    .leftPart {
        width: 100%;
        height: 50vh;
        padding: 3vh 5vw;
        justify-content: space-between;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .weatherEmoji{
        font-size: 70px;
    }
    .cityName{
        font-size: 30px;
        width: auto;
    }
    .degree{
        font-size: 82px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .dataTime{
        font-size: 10px;
    }
    .cityInfoL{
        width: 60%;
    }

}




#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(4px);
}

.spinner {
    width: 70px;
    height: 70px;
    border: 8px solid rgba(255,255,255,0.2);
    border-top: 8px solid white;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}